[submodule "workers/detectorBayas"]
	path = workers/detectorBayas
	url = https://github.com/franveggiani/detectorBayas.git
[submodule "workers/qrDetectorBayas"]
	path = workers/qrDetectorBayas
	url = https://github.com/franveggiani/qrDetectorBayas
[submodule "workers/trackerBayas"]
	path = workers/trackerBayas
	url = https://github.com/franveggiani/trackerBayas.git
